/* تثبيت العنوان */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3464b0!important;
    color: white;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    direction: rtl; /* النص يبدأ من اليمين */
}

h1 {
    margin: 0;
    font-size: 1.5rem;
}

/* إضافة مسافة لتجنب تداخل المحتوى مع العنوان */
main {
    margin-top: 170px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    direction: rtl; /* النص يبدأ من اليمين */
}

/* تصميم الأقسام */
.faq-category {
    margin-bottom: 30px; /* المسافة بين كل قسم وقسم*/
    direction: rtl; /* النص يبدأ من اليمين */
}
.title-main{
    padding: 5px 5px;
    text-align: center;
    width: 100%;
    
    display: block;
    font-size: 15px;
    color: #ffffff;
    
}
.logo1{
  padding: 1px;
  width: 80px;
}

.parent {
    text-align: center;
  }
  .child {
    display: inline-block;
    vertical-align: middle;
  }
  

.category-title {
    font-size: 1.5rem; /* حجم خط عناوين الأقسام*/
    color: white;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid #ddd; /* حجم ظل خلفية عنوان القسم*/
    padding-bottom: 15px; /* ارتفاع خلفية عنوان القسم*/
    margin-bottom: 5px; /* المسافة بين عنوان القسم وأول إجابة*/
    background-color: #f39d52;
    direction: rtl; /* النص يبدأ من اليمين */
    text-align: center; /* محاذاة النص لليمين */
}

/* تصميم الأسئلة */
.faq-section {
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: #f5d670;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    direction: rtl; /* النص يبدأ من اليمين */
    text-align: right; /* محاذاة النص لليمين */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.textc{
    color: #000000;
    text-align: left;
}

/* تأثير عند التمرير */
.faq-section:hover {
    
    transform: scale(1.02);
}

.faq-section.open {
    
    background-color: #afb7bb;
}


.faq-section h3 {
    margin: 0;
    font-size: 1rem;
    color: #000000;
    flex: 1; /* السماح للنص بالتمدد */
    text-align: right; /* محاذاة النص لليمين */
    font-weight: bold;
}

/* رمز المثلث */
.faq-section::before {
    content: '🔽'; /* مثلث متجه للأسفل */
    font-size: 2rem;
    color: #3464b0!important;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

/* تغيير اتجاه المثلث عند إظهار الإجابة */
.faq-section.open::before {
    transform: rotate(180deg); /* المثلث يشير للأعلى */
}

/* تصميم الإجابة بحيث تظهر أسفل السؤال */
.faq-section p {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
    color: #000000;
    direction: rtl; /* النص يبدأ من اليمين */
    text-align: right; /* محاذاة النص لليمين */
    width: 100%;
}

/* عند فتح الإجابة */
.faq-section.open p {
    display: block;
}
